* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo {
    font-size: 4rem;
    color: rgb(88, 88, 141);
    text-align: center;
    margin: auto auto;
    padding-bottom: 20px;
}

.principal {
    width: 60%;
    height: 70vh;
    background-color: rgb(153, 153, 245);
    box-shadow: 2px 2px 10px rgb(11, 11, 22);
    padding: 3%;
    margin: auto auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.label {
    width: 45%;
    height: 30px;
    margin-right: 5%;
    font-size: 1.2rem;
    color: rgb(66, 66, 66);
}

.input {
    width: 40%;
    height: 30px;
    border-radius: 7px;
    border: dotted rgb(144, 144, 144) 1px;
    font-size: .9rem;
}

.boton {
    background-color: rgb(88, 88, 141);
    box-shadow: 2px 2px 10px rgb(11, 11, 22);
    border-radius: 15%;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
}

.dog {
    size: 500x;
    color: rgb(88, 88, 141);
}